@import "style.css";

.noticia .imagen{
    text-align: center;
}
.noticia .imagen img {
    width: 60%;
    height: auto;
    margin-bottom: 2rem;
}

.noticia .titulo {
    margin-top: 10rem;
    font-size: 3rem;
}

.noticia .fecha {
    margin-left: 3rem;
    font-style: italic;
    color: var(--lightcolor);
    margin-bottom: 2rem;
    font-size: 1rem;
}   

.noticia .desarrollo p{
    font-size: 1.3rem;
    color: var(--negro);
    text-transform: none;
    margin-left: 3rem;
    margin-right: 2rem;
}

.noticia .desarrollo span{
    font-weight: bolder;
}

.noticia .desarrollo ul li{
    list-style-type: none;
    margin-left: 5rem;
    font-size: 1.3rem;
    color: var(--negro);
    text-transform: none;
}


.noticia .desarrollo ul li::before {
    content: '\2713';
    margin-right: 1rem; 
}